<p id="notice"><%= notice %></p>

<p>
  <h2>Post:</h2>
  <%= @comment.post %>
</p>

<p>
  <h1>Body:</h1>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
