.container{
	width: 960px;
	margin:0 auto;
}

.header{
	background: #6396bc;
	width: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
}

.logo{
	float: left;
	font-family: "Helvetica";
	font-size: 15px;
}

a {
	text-decoration: none;
	color: #ffffff;
}

li {
	list-style: none;
	float: left;
	margin-left: 15px;
	padding-top: 10px;
}

.nav{
	float: right;
}

.content{
	postion: absolute;
	top: 300px;
}