<div id="content">
<p id="notice"><%= notice %></p>

<h2><u>
  <%= @post.title %>
</u></h2>

<p><font size="3">
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= @post.body %>
</font></p>

<h3><u>Comments</u></h3>
<div id="comments">
	<%= render :partial => @post.comments.reverse %>
</div>

<%= form_for([@post, Comment.new], remote: true) do |f| %>
	<p> <%= f.label :body, "New Comment" %><br />
		<%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>