<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag   "style.css", 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
	<div class="container">
		<div class="logo">
		<h1> Matt's Blog</h1>
		</div> 
		<div class="nav">
			<ul>
				<li><a href="#">Posts</a></li>
			</ul>
		</div>
	</div>
</div>

<%= yield %>

</body>
</html>
